doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title Webapp performance

		link(rel='stylesheet', type='text/css', href='build/build.css')

	body

		article.deck

			section
				h1 Webapp performance

			section
				h2 Bullet List
				h3 Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
				ul.build.build-items
					li Bullet 1
					li Bullet 2
					li Bullet 3

			section
				h2 Syntax Highlighting
				h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/PrismJS/prism">Prism</a>
				pre
					code.language-javascript.
						(function() {
							function hanoi(n, a, b, c) {
								return n ? hanoi(n - 1, a, c, b)
										.concat([[a, b]])
										.concat(hanoi(n - 1, c, b, a)) : [];
							}
							return hanoi(3, 'left', 'right', 'mid')
								.map(function(d) {
									return d[0] + ' -> ' + d[1];
								});
						})();


		script(src='build/build.js')
